@model DetailsViewModel



<div class="pt-24 text-5xl text-white font-bold">
	@Model.Topic.Name
</div>

<div class="pt-6 pb-16">
	<div class="py-1 bg-orange-400"></div>
</div>

<div class="grid grid-cols-3 gap-4">
	
		
			@foreach (var item in Model.Posts)
			{
				<div class="">
			     <a asp-action="Details" asp-route-id="@item.Id" >  <img class="border h-56 w-full object-cover transition-shadow duration-300 ease-in-out hover:shadow-lg" src="@item.ImageUrl" width="100%" /></a>
				   <div class="flex justify-between py-2">
				        <div class="uppercase">@item.Topic.Name</div>
				        <div class="">@item.Created</div>
				   </div>
			<div class="text-white text-xl"><a class="hover:text-orange-500" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></div>
				</div>
			}
	
</div>